<section class="customers-section">
    <div class="container customers-container">
        <h2 class="customers-title">What our Customers Say</h2>
        <p class="customers-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
           <div>
            <ul class="customers-list list">
                <li class="customers-item">
                    <ul class="customers-stars-list list">
                        <li class="customers-stars-item">
                            <svg class="customers-stars-icon" width="17" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="customers-stars-item">
                            <svg class="customers-stars-icon" width="17" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="customers-stars-item">
                            <svg class="customers-stars-icon" width="17" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="customers-stars-item">
                            <svg class="customers-stars-icon" width="17" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="customers-stars-item">
                            <svg class="customers-stars-icon" width="17" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="customers-item-text">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a
                        freind, No questions asked”</p>
                    <div class="customers-block">
                        <img class="customers-img"
                            srcset="./img/person1-1x.png 1x, ./img/person1-1x.png 2x"
                            alt="person1"
                            width="48"
                            height="48">
                        <div class="customers-block-name">
                            <h3 class="customers-block-subtitle">Sumith Shah</h3>
                            <p class="customers-block-text">Some Dude</p>
                        </div>
                    </div>
                    
                </li>

                <li class="customers-item">
                    <ul class="customers-stars-list list">
                        <li class="customers-stars-item">
                            <svg class="customers-stars-icon" width="17" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="customers-stars-item">
                            <svg class="customers-stars-icon" width="17" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="customers-stars-item">
                            <svg class="customers-stars-icon" width="17" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="customers-stars-item">
                            <svg class="customers-stars-icon" width="17" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="customers-stars-item">
                            <svg class="customers-stars-icon" width="17" height="16">
                                <use href="./img/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="customers-item-text">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience
                        ordering from this app”</p>
                    <div class="customers-block">
                        <img class="customers-img"
                            srcset="./img/person2-1x.png 1x, ./img/person2-1x.png 2x"
                            alt="person2"
                            width="48"
                            height="48">
                        <div class="customers-block-name">
                            <h3 class="customers-block-subtitle">Sumith Shah</h3>
                            <p class="customers-block-text">Some Dude</p>
                        </div>
                    </div>
                </li>
            </ul>
           </div>
    </div>
</section>