<footer class="footer">
    <div class="container footer-container">
      <div class="footer-content">
        <div class="footer-nav-container">
          <nav class="footer-nav">
            <a class="footer-logo" href="./index.html"
              ><img src="./img/logo.svg" alt="logo" width="66" height="52"
            /></a>
            <ul class="footer-nav-ul">
              <li class="footer-nav-li">
                <a class="footer-nav-link" href="./index.html">Home</a>
              </li>
              <li class="footer-nav-li">
                <a class="footer-nav-link" href="#">About</a>
              </li>
              <li class="footer-nav-li">
                <a class="footer-nav-link" href="#">Service</a>
              </li>
              <li class="footer-nav-li">
                <a class="footer-nav-link" href="#">Menu</a>
              </li>
              <li class="footer-nav-li">
                <a class="footer-nav-link" href="#">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer-form-content">
          <form class="footer-form">
            <p class="footer-form-tittle">Subscribe</p>
            <label class="footer-label">
              <input
                class="footer-input"
                name="footer-input"
                type="email"
                placeholder="Enter your email"
                required
              />
            </label>
            <button class="footer-btn" type="submit">Subscribe</button>
          </form>
          <p class="footer-form-text">
            By subscribing you agree to with our<a
              class="footer-copyright-link"
              href="#"
              target="_blank"
            >
              Privacy Policy</a
            >
          </p>
        </div>
      </div>
      <div class="footer-copyright">
        <ul class="footer-copyright-ul">
          <li class="">
            <a class="footer-copyright-link" href="#" target="_blank">Privacy Policy</a>
          </li>
          <li class="">
            <a class="footer-copyright-link" href="#" target="_blank">Terms of Service</a>
          </li>
          <li class="">
            <a class="footer-copyright-link" href="#" target="_blank">Cookies Settings</a>
          </li>
        </ul>
        <p class="footer-paragraph">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </footer>