<header class="header">
    <div class="container header-container">
        <a class="header-logo" href="./index.html"><img src="/img/logo.svg" alt="logo" width="66" height="52" /></a>
        <nav class="header-nav">
            <ul class="header-menu">
                <li class="header-item"><a class="header-link" href="./index.html">Home</a></li>
                <li class="header-item"><a class="header-link" href="#">About</a></li>
                <li class="header-item"><a class="header-link" href="#">Service</a></li>
                <li class="header-item"><a class="header-link" href="#">Menu</a></li>
                <li class="header-item"><a class="header-link" href="#">Contact</a></li>
            </ul>
        </nav>
        <button class="header-btn" type="button">Order now</button>
        <button type="button" class="menu-open-btn" data-menu-open><svg width="28" height="28" class="mob-menu-icon">
            <use href="/img/symbol-defs.svg#icon-bur"></use>
        </svg></button>
    </div>
    <div class="mob-menu is-hidden" data-menu>
        
        <button type="button" class="menu-close-btn" data-menu-close><svg class="mob-icon" width="10.8" height="10.8">
                <use href="/img/symbol-defs.svg#icon-close"></use>
            </svg></button>
        <ul class="mob-menu-list">
            <li class="mob-menu-item"><a class="mob-menu-link" href="./index.html">Home</a></li>
            <li class="mob-menu-item"><a class="mob-menu-link" href="#">About</a></li>
            <li class="mob-menu-item"><a class="mob-menu-link" href="#">Service</a></li>
            <li class="mob-menu-item"><a class="mob-menu-link" href="#">Menu</a></li>
            <li class="mob-menu-item"><a class="mob-menu-link" href="#">Contact</a></li>
        </ul>
        
    </div>
</header>