.customers-section {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 769px;
    background-image: url(../img/custom-bckr-mob-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .customers-section {
        background-image:
            url(../img/custom-bckr-mob-2x.jpg);
    }
}

.customers-title {
    color: var(--primary-text-color);
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.customers-text {
    color: var(--primary-text-color);
    line-height: normal;
    margin-bottom: 32px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.customers-item {
    background-color: var(--white-color);
    border-radius: 0 30px 30px 30px;
    padding: 8px;
    
}

.customers-stars-list {
    display: flex;
    gap: 4px;
    margin-bottom: 28px;
}

.customers-stars-icon {
    fill: var(--secondary-background-color);
}

.customers-item-text {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.customers-block {
    display: flex;
    gap: 16px;
}

.customers-block-name {
    flex-direction: column;
}

.customers-block-subtitle {
    color: var(--primary-text-color);
    font-weight: 500;
    
}

.customers-block-text {
    color: var(--primary-text-color);
   
}