:root {
  --primary-text-color: #2c2c2c;
  --background-color: #fefefe;
  --secondary-background-color: #ffe550;
  --btn-color: #bbf330;
  --link-color: #7eb101;
  --form-color: #505050;
  --white-color: #ffffff;
}